.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/yarn.lock
**/package-lock.json
**/.DS_Store
**/node_modules/**
**/out/test/**
**/test/**
webpack.config.js
eslint.config.mjs
.prettierrc
.nvmrc
*.vsix